html, body {
    position: relative;
    height: 100%;
  }
  body {
    /* background: #eee; */
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#fff;
    margin: 0;
    padding: 0;
  }
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    background:rgba(6,31,74,0.45);
    border:2px solid rgba(0,121,161,1);
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: 300ms;
    transform: scale(0.8);
    position: relative;
  }
  .swiper-slide-active,.swiper-slide-duplicate-active{
    /* background:rgba(20,152,228,0.45);
    border:2px solid rgba(0,121,161,1); */
  }
  .swiper-slide-prev{
    /* background:rgba(20,152,228,0.45);
    border:2px solid rgba(0,121,161,1); */
  }
  .active-defined{
    background:rgba(20,152,228,0.45);
    border:2px solid rgba(0,121,161,1);
  }
  .a_icon{
    position: absolute;
    top:10px;
    left:15px;
  }
  .a_accountName{
    position: absolute;
    top:5px;
    left:50px;
    font-size: 26px;
    text-align: left;
  }
  .a_title{
    position: absolute;
    top: 40px;
    left: 50px;
    width: 400px;
    overflow: hidden;
    height: 30px;
    text-align: left;
    font-size: 24px;
  }
  .a_releaseTime{
    position: absolute;
    top:10px;
    right:50px;
    font-size: 26px;
  }